Repository vykintazo/covid19-data: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build frontend, deploy frontend to Pages, deploy backend

.gitlab-ci.yml:

image: node:latest

stages:
  - build
  - deploy

cache:
  paths:
    - frontend/node_modules/
    - frontend/.yarn
    
build frontend:
  stage: build
  script:
    - cd frontend
    - yarn install --frozen-lockfile --cache-folder=.yarn
    - yarn build
  rules:
    - if: '$CI_COMMIT_REF_NAME == "master"'
      changes:
        - frontend/**/*
      when: always
  artifacts:
    paths:
      - frontend/build/


deploy frontend to Pages:
  stage: deploy
  script:
    - mv frontend/build/ public
  rules:
    - if: '$CI_COMMIT_REF_NAME == "master"'
      changes:
        - frontend/**/*
      when: on_success
  artifacts:
    paths:
      - public

deploy backend:
  stage: deploy
  script:
    - echo 'TODO'
  rules:
    - if: '$CI_COMMIT_REF_NAME == "master"'
      changes:
        - backend/**/*
      when: always

serviceworker
  frontend/src/index.tsx
Due: build frontend, deploy frontend to Pages

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Update README.md
  README.md
Due: none

dot.
  frontend/src/App.tsx
Due: build frontend, deploy frontend to Pages

Added infected to all datasets
  backend/SIR.py
  backend/app.py
  backend/utils.py
Due: deploy backend

Recharts Backend SIR, ARIMA
  backend/ARIMA.py
  backend/SIR.py
  backend/app.py
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/RechartsChart.tsx
  frontend/src/SIR.tsx
  frontend/yarn.lock
Due: build frontend, deploy frontend to Pages, deploy backend

Fixes & additions
  backend/SIR.py
  backend/utils.py
  frontend/src/App.tsx
  frontend/src/DataSelector.tsx
  frontend/src/Explore.tsx
  frontend/src/LineChart.tsx
  frontend/src/RechartsChart.tsx
Due: build frontend, deploy frontend to Pages, deploy backend

Fixes & additions
  backend/ARIMA.py
  backend/SIR.py
  backend/app.py
  frontend/src/ARIMA.tsx
  frontend/src/ARIMAChart.tsx
  frontend/src/App.tsx
  frontend/src/DataSelector.tsx
  frontend/src/SIR.tsx
  frontend/src/SIRSelector.tsx
  frontend/src/types.ts
Due: build frontend, deploy frontend to Pages, deploy backend

Added link to source
  frontend/package.json
  frontend/src/App.tsx
Due: build frontend, deploy frontend to Pages

Fix SIR bounds
  backend/SIR.py
Due: deploy backend

Added link to source
  frontend/src/ARIMAChart.tsx
  frontend/src/App.tsx
  frontend/src/SIR.tsx
Due: build frontend, deploy frontend to Pages

Added link to source
  backend/app.py
  frontend/src/ARIMAChart.tsx
Due: build frontend, deploy frontend to Pages, deploy backend

Added link to source
  backend/app.py
  frontend/src/DataSelector.tsx
  frontend/src/Explore.tsx
  frontend/src/RechartsChart.tsx
Due: build frontend, deploy frontend to Pages, deploy backend

bugfixes
  backend/app.py
  frontend/src/SIR.tsx
Due: build frontend, deploy frontend to Pages, deploy backend

bugfixes
  frontend/src/ARIMAChart.tsx
Due: build frontend, deploy frontend to Pages

bugfixes
  backend/ARIMA.py
  backend/app.py
  frontend/src/ARIMAChart.tsx
Due: build frontend, deploy frontend to Pages, deploy backend

use env variables for backend urls fixed typos
  frontend/.gitignore
  frontend/craco.config.js
  frontend/package.json
  frontend/src/ARIMA.tsx
  frontend/src/Explore.tsx
  frontend/src/SIR.tsx
Due: build frontend, deploy frontend to Pages

Update .gitlab-ci.yml to include deployment to Heroku
  .gitlab-ci.yml
Due: none

Added requirements.txt
  backend/.idea/covid.iml
  backend/requirements.txt
Due: deploy backend

added gunicorn
  backend/Procfile
  backend/requirements.txt
  backend/wsgi.py
Due: deploy backend

Fixed one API source
  backend/utils.py
Due: deploy backend

Fixed warnings Updated sources
  frontend/package.json
  frontend/src/Explore.tsx
  frontend/src/SIR.tsx
Due: build frontend, deploy frontend to Pages

Fixed bug
  backend/app.py
  backend/utils.py
Due: deploy backend

Fixed bug
  backend/app.py
Due: deploy backend

Updated Lithuanian COVID data source
  backend/utils.py
Due: deploy backend
